Session.vim
.vim
.vscode
.DS_Store
.env
*.tfvars
**/*.tfvars
.terraform
node_modules
tfplan.bin
**/tfplan.bin
*.zip
**/*.zip
*tfplan.bin
**/*tfplan.bin
terraform.tfstate
terraform.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.*
build

